

.task {
    border-style: solid;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    width: 60vw;

}

.task:hover {
    /* background-color: #7dd6e40e; */
    background-color: #7dd6e43a;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.taskDescription {
    padding: 20px;
}