

.container {

    display: flex;
    flex-direction: column;
    height: 100vh;

}

.form {
    
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    width: 500px;
    height: auto;
    background: linear-gradient(45deg, #d8eff177, #67bcc45e);
    margin-top: 10vh;
    border-radius: 20px;

}


.input_block {
    display:flex;  
    max-width: 500px; 

}

.form label {

    width: 80px;
    margin: 10px;
    padding: 5px;
}

.input, select {

    width: 70%;
    margin:10px;
    padding:0;
    border-radius: 5px;
    padding: 5px;

}

.input_readonly {
    background: linear-gradient(45deg, #d8eff177, #67bcc45e);
    cursor:auto;
    border-width: 0.1px; 
    border-color:rgba(0, 0, 0, 0.075)
}

